.vs/
.tmp/

**/bin/
**/obj/

Jarvis.Web/node_modules/
Jarvis.Web/.next/
Jarvis.Web/tsconfig.tsbuildinfo

Jarvis/wwwroot/generated-audio/
**/generated-audio/
**/screenshots/
**/command_logs.json
**/voice_history.json
**/*.tmp
**/*.temp

models/
tools/
